<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basicLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
[[ ${board} ]]

    <div class="card">

        <div class="card-header">
            <button class="btn btn-primary listBtn">List</button>
        </div>

        <div class="card-body">
            <ul>
                <img th:each="file:${board.fileNames}"
                     th:src="'http://localhost:8081/attach/' + ${file}" >
            </ul>

        </div>

    </div>
</div>


<script th:inline="javascript" layout:fragment="script">

    const queryString = window.location.search

    console.log("------------------------")
    console.log(queryString)

    document.querySelector(".listBtn").addEventListener("click", e => {
        window.location=`/board/list${queryString}`
    }, false)

</script>

</body>
</html>